[Unit]
Description=Backend Service for WEBSCAP
After=network.target

[Service]
ExecStart=/opt/WEBSCAP/start-backend.sh
WorkingDirectory=/opt/WEBSCAP/backend
User=root
Restart=always

[Install]
WantedBy=multi-user.target

